body {
    background-color: rgb(181, 228, 255);
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    margin: 0;
    padding: 2rem 0;
    width: 100%;
}

footer {
    margin: 3rem;
    font-size: 1.2rem;
}

main {
    background: white;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    padding: 2rem 0;
  }

h1 {
    margin: 3rem 1rem 6rem 1rem;
}

h2 {
    margin: auto 2rem;
}

.artObject {
    max-width: 80%;
    max-height: 20rem;
    margin: 1rem;
}

#gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}